@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    background: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: transparent;
    backdrop-filter: blur(50px);
}

#logo{
    margin-left: 50px;
    display: flex;
    height: 60px;
}

#pages{
    display: flex;
    gap: 10px;
}

#search{
    width: 185.97px;
    height: 22px;
}

#main{
    color: #4bdb98;
}

#market{
    color: black;
}

#basliq{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    display: flex;
    height: 450px;
    width: 350px;
}

#basliq img{
    width:700px;
    border-radius: 100px 0px 0px 100px;
    position: absolute;
    right: 0;
    
}

#basliq h1{
    font-size: 48px;
    color: black;
}

#basliq h6{
    font-size: 18px;
    color: black;
}

#basliq button{
    background: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 40px;
    width: 200px;
    height: 70px;
    font-size: 14px;
}

#basliq button:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 40px;
    width: 200px;
    height: 70px;
    font-size: 14px;

}

#sosial{
    display: flex;
    justify-content: space-around;
    background-color: #e15613;
    height: 280px;
    margin-top: -4px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about{
    background-color: #e15613;
    height: 400px;
    margin-top: -22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#teamtxt{
    background-color: #e15613;
    margin-top: -22px;
    display: flex;
    font-size: 28px;
    justify-content: center;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#team{
    margin-top: -22px;
    background-color: #e15613;
    display: flex;
    justify-content: space-around;
}

#team img{
    height: 200px;
}

#contact{
    background: #e15613;
    margin-top: -32px;
    height: 670px;
}

#contact form{
    border: 20px solid #292d33;
    background: #292d33;
    border-radius: 20px;
    width: 423px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact h1{
    font-size: 48px;
}

#abune{
    margin-left: 30%;
    width: 500px;
}

#cont{
    margin-left: 60%;
    margin-top: -140px;
}

.inpt{
    width: 335px;
    height: 45px;
    border: #292d33;
    border-radius: 20px;
}

#text{
    height: 200px;
}

#submit{
    background-color: #c02701;
    border: 1px solid #c02701;
    border-radius: 20px;
    height: 50px;
    width: 230px;
}

#submit:hover{
    background-color: white;
    border: 1px solid white;
    color: #c02701;
    border-radius: 20px;
    height: 50px;
    width: 230px;
}

#footer{
    margin-top: 100px;
    height: 100px;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links{
    font-size: 44px;
    display: flex;
    gap: 10px;
}

#footer h2{
    margin-top: 20px;
}